[2015-04-05 12:56] adrientetar opened #1 "Partial lack of cubic source files"
In the source files presented here, only the light weight has Postscript curves which are what's used to draw.

So a complete open-source release of these fonts which allows designers to contribute or create derivatives would involve complete release of cubic font source files (conversion from TTF to Postscript is notably lossy).

By the way: proprietary VFB files can now be converted to open-sour

[2015-04-05 13:04] adrientetar commented on #1
Also it seems the files with quadratic curves (tagged as v1.001) have slightly different metrics, e.g. the baseline overshoot is -20 0 instead of -12 0.

[2015-04-05 13:11] andyfitz commented on #1
This is excellent feedback.
We're preparing italics and an extra light before the formal release of this font family so identifying these issues now helps a great deal before we finish the initial set.

I'm a fontforge user myself but Delve prefers Fontlab - after completion we should probably migrate to UFO.

[2015-04-05 13:13] andyfitz commented on #1
Also worth noting that Regular and Bold were designed around freetype for software/screen only.  Light had a wider scope.  Hopefully we can circle back and standardise Regular and Bold

[2015-04-05 13:15] andyfitz commented on #1
Happy to take any pull requests of your migration efforts BTW.  Thanks very much for your interest.

[2015-04-05 13:37] adrientetar commented on #1
For now there is this vfb2ufo bug but it should be done around final release I think.

Also some feedback on the Light master: acute and grave seem off. Here's my name written with it (no kerning due to the vfb2ufo bug):

![opass1v](https://cloud.githubusercontent.com/assets/1250894/6996976/3bab40be-dba8-11e4-85ae-194ca84e599b.png)

The acute is slipping off of the letter.

![opass](https://cloud.

[2015-08-25 04:17] christopheradams opened #3 "Add license metadata to all fonts"
Most of the TTF files seem to be missing the license metadata. Only `Overpass_Bold.ttf` and `Overpass_Regular.ttf` have it, the rest don't.

[code]

I'd also suggest dropping a copy of the license into the ZIP file.

[2015-08-25 15:07] spotrh opened #4 "A few minor nits"
Thanks for the new fonts. That said, a few minor nits that if resolved, would make my life simpler.

1) Instead of a zip file checked into git, can you do a proper release of the ttf through github?
2) And as part of that release, can you use a sane incrementing version? The old sources were marked as 1.01, the font metadata in these releases shows "1.000". Maybe bump to 1.1 with the next change?

[2015-08-26 16:25] codeman38 opened #5 "Hinting could be improved with ttfautohint"
The hinting in the current release of the fonts is rather ugly on systems where bytecode hinting is enabled (e.g., Freetype 2.4+ with fontconfig set to 'medium' or 'full' hint style). This is especially noticeable in the Italic styles-- note the ridiculously inconsistent line widths in the screencap below:

![overpass-bad-hinting](https://cloud.githubusercontent.com/assets/386563/9499387/3a06af90-

[2015-08-26 17:10] DelveFonts commented on #5
Hey Andy,

I was excited to see the new fonts posted on github. Very cool.

As you may have noticed, there have been a few issues with the fonts
that were brought up by followers in the last couple days. I am happy to
fix them, if it is ok by you.

And are you ok with me responding to issues on your github Overpass
repository? I don't want to overstep any bounds and I certainly don't
presume to sp

[2015-08-27 15:54] siwinski opened #6 "Red Hat official Overpass repo?"
http://overpassfont.org/ points here as the official source of Red Hat's Overpass font, so what is https://github.com/RedHatBrand/RedHat-Overpass-Fonts ?  Shouldn't @RedHatBrand be the official owner?

[2015-08-27 15:56] siwinski opened #7 "Versions/Releases?"
Could versions/releases be tagged so downstream can tell which version of Overpass we are using and if there are released updates?

[2015-08-27 15:58] siwinski commented on #7
#4 seems to be requesting the same thing as well

[2015-08-28 15:58] nitrofurano opened #8 "Obliques named as Italic, and Italics missing"
hi Andy!
nice typeface family, but there is a mistake: obliques are wrongly named as italic, and italics are missing...
cheers,
p.

[2015-09-01 03:58] joeframbach opened #9 "overpassfont.org does not allow users to increase font size"
Steps to reproduce:
1. Open overpassfont.org
2. Increase font size using browser controls.

Expected outcome:
Font size increases.

Actual outcome:
Font size does not increase.

[2015-09-07 23:41] andyfitz commented on #9
Hey thanks for the tip,  I'm about to update the site once we get Overpass hosted on our official CDN.  I'll be sure to fix this.

I'm using viewport units to size the text (which was a lazy way of making the site mobile friendly without setting rules at break points )

I'll be sure to use a different technique on the update

Andy

[2015-09-07 23:43] andyfitz commented on #6
Good point.

I've just nuked that repository,  and will try to transfer ownership of this to @RedHatBrand

[2015-09-07 23:54] #6 closed

[2015-09-07 23:54] #1 closed

[2015-09-07 23:54] andyfitz commented on #7
Done
https://github.com/RedHatBrand/overpass/releases/download/2.0/overpass-fonts-ttf-2.0.zip

[2015-09-07 23:54] #7 closed

[2015-09-07 23:57] andyfitz commented on #4
Done!

[2015-09-09 05:44] DelveFonts commented on #3
Good catch! Thanks Christopher. This will be addressed in the next update.

[2015-09-09 05:47] DelveFonts commented on #5
Yikes! Yes, there is definitely room for improvement there. Thank you for bringing this to our attention codeman38.

[2015-09-09 06:07] DelveFonts commented on #8
Hi nitrofurano, Thank you for bringing this up. The italics for Overpass were actually carefully drawn to yield the highest fidelity and remain visually consistent with the upright fonts — a much harder task than simply slanting the glyphs or making them oblique. Applying a slant to the upright forms will not result in the refined letter shapes of the italics provided in the Overpass family. Doing

[2015-09-09 07:39] #8 closed

[2015-09-09 07:44] andyfitz commented on #5
eww, this is why I leave freetype hinting off on all my Fedora machines.
It's a scary dark art.
But thanks for the insight @codeman38   I forgot how awesome TTF autohint is nowadays.

@DelveFonts are we  happy to accept any change that has TTF autohint run on it?

[2015-09-10 07:37] DelveFonts commented on #5
@andyfitz Yes, any but the Regular and Bold. Those two have hand-edited hints applied.

[2015-10-05 11:43] lekkerduidelijk opened #10 "Missing glyphs in IE9"
Some glyphs seem to be missing in the Overpass Bold EOT file.

![missing-letters-ie9-win7](https://cloud.githubusercontent.com/assets/357924/10279531/cb2e0bce-6b66-11e5-87fd-3e63f26086ee.png)

So far I've found these: A Y V X

Could you please build that font variant again?

[2015-10-07 03:41] davelab6 commented on #5
@DelveFonts have you checked out the ttfautohint 'overrides' feature? Jasper de Waarde posted a video in http://typedrawers.com/discussion/1143/how-to-use-ttfautohint

[2015-10-07 03:44] davelab6 opened #11 "Rename files"
I recommend renaming the files to match the PSName values, eg `Family-StyleName.ext`

[2015-10-07 03:49] davelab6 opened #12 "Remove RFN"
I'm curious why in https://github.com/RedHatBrand/overpass/blob/master/LICENSE.md the "Reserved Font Name" option was chosen?

I suggest removing it: Since Overpass is a trademark of Red Hat then it is not necessary; and it limits use of the font as a web font because format changes (EOT/WOFF) and sub-setting are defined as modification in the OFL and so if I want to self-host the fonts and subset

[2015-10-12 00:18] andyfitz commented on #11
All done

[2015-10-12 00:18] #11 closed

[2015-10-12 00:18] andyfitz commented on #12
Resolved :)

[2015-10-12 00:18] #12 closed

[2015-10-12 00:27] andyfitz commented on #10
This is a weird one.   unfortunately I don’t test on IE9.
Does this affect Microsoft's rebranded IE ?   Edge or whatever it's called?
Because if not,  I'd rather expire EOT as a deprecated format than support and maintain files we can't test.

[2015-10-12 00:27] andyfitz commented on #10
@DelveFonts  what do you reckon ?

[2015-10-12 13:12] lekkerduidelijk commented on #10
I can confirm it only has issues on IE9. IE10 and above look fine. In the network inspector I see IE9 and IE10 both do use the same .eot files.

![IE9 and IE10 side by side](https://cloud.githubusercontent.com/assets/357924/10428699/8c84ab48-70f3-11e5-8dc8-a959120b2d2d.png)

On [Stackoverflow](http://stackoverflow.com/questions/8429654/font-face-missing-characters-glyphs-in-ie9) I read it could ha

[2015-10-28 03:50] kevinSuttle opened #13 "homebrew cask fonts"
It'd be swell to add Overpass to https://github.com/caskroom/homebrew-fonts

[2015-10-30 02:48] andyfitz commented on #13
please be my guest!

[2015-11-18 23:23] marxo opened #14 "Cyrillic glyphs?"
Are there any plans to roll out Cyrillic support any time soon? The font is amazing, I'd love to see Cyrillic in it too.

Thanks.

[2015-11-19 15:36] nicoconstanzo opened #15 "Overpass font weights & Microsoft Office"
I have downloaded and installed the whole family of desktop fonts for usage with  Office (notably Word and Powerpoint).

The problem I am having is that Office doesn't easily support multiple font weights. This means it uses the Regular version by default, which is already more of a bold in itself and no option to choose the "Light" version which is better suited for body copy.

I have tried:
- ma

[2015-11-23 13:07] andyfitz commented on #5
This has been done thanks @jimmac

[2015-11-23 13:07] #5 closed

[2015-11-26 11:22] pravins opened #17 "Any plan for new minor release with Hinting support?"
Hi,
   Any plan to do minor release with hinting information added by commit: https://github.com/RedHatBrand/overpass/commit/4458bf24ee2365b539a11eff529ae860246abfc8

   Want to update this font in Fedora. Minor release will be very helpful.

[2015-11-27 15:21] pravins commented on #17
ping.. :)

[2015-11-29 05:54] andyfitz commented on #17
Hey I'm on paternity. Cleaning diapers .. I'll make the release in early Dec :-)

[2015-11-30 06:11] pravins commented on #17
No problem. Rather than packaging based on commit i think we can wait for release.
Have a good time. :)

[2015-12-01 14:16] inferno986return commented on #14
Highway Gothic is an interesting design and Overpass catches it well. I'd like to see Cyrillic support added too. :-)

[2015-12-01 14:18] inferno986return opened #18 "Stylistic alternates?"
Would love a single storey "a" option for more friendly text.

[2015-12-09 15:06] andyfitz commented on #15
This is a known issue.  unfortunately Overpass inherited this issue from back when it was only regular and bold.  (almost everyone uses light as their default weight).

I'm not sure how to fix this other than through a major release with a new weight classification.
Things could get messy for people upgrading so it might depend on changing the font family name entirely...

Thinking about what to d

[2015-12-11 08:43] pravins commented on #17
Gentle reminder :)

[2015-12-11 13:31] nicoconstanzo commented on #15
Hi! Thanks for your reply. Yes, here we've been using the Light version as the default weight which looks a lot nicer for body text.

What I finally did was edit the font name directly with TransType 4 (which has a free trial), making the Overpass-light be the regular weight and the regular be the bold. It's a bit of a workaround but it's worked fine.

It's a beautiful font, keep up the good work.

[2015-12-16 03:39] andyfitz commented on #17
hi @pravins I'm drowning under a few other tasks right now.
So.. this means you are now the minor release maintainer of Overpass
congratulations be gentle  (and thank you for your Fedora contributions )  ;-)

[2015-12-16 22:55] andyfitz commented on #15
I'm going to close this issue since it probably wont be fixed without a name change.
But yeah, I wish we started with a _real_ regular weight

[2015-12-16 22:55] #15 closed

[2015-12-17 09:37] pravins commented on #17
Thanks for permission :)
I gone through git and earlier release structure. New release tarball available At https://pravins.fedorapeople.org/overpass-fonts/

Please note, i have created Makefile,  https://pravins.fedorapeople.org/overpass-fonts/Makefile
This will be useful for next releases. Just update version in this file and say Make all. :)

With each update we should change version inside fon

[2015-12-18 10:39] pravins commented on #17
Built test rpm with updated zip:
https://pravins.fedorapeople.org/overpass-fonts/overpass-fonts-2.1-1.fc23.noarch.rpm

Source rpm
https://pravins.fedorapeople.org/overpass-fonts/overpass-fonts-2.1-1.fc23.src.rpm

Waiting for uploading these file zip file to git download place.

[2015-12-21 00:32] andyfitz commented on #17
Thank you, thankyoum thank you @pravins

You're an admin on the repo now also :) :+1:

[2015-12-21 17:17] marxo commented on #14
![2015-12-21 18-14-07](https://cloud.githubusercontent.com/assets/431616/11936543/e7dd0cf4-a80e-11e5-835c-2375b506b741.png)
I was hoping I wouldn't have to do this guys. Can you share some hinting info with me or a script that you generate styles and weights with?

[2015-12-22 06:43] pravins commented on #17
Great, thanks a lot :)
Will follow closely and surely help wherever possible !!

[2015-12-26 01:14] marxo commented on #14
![2015-12-26 02-07-45](https://cloud.githubusercontent.com/assets/431616/12004768/025284e6-ab76-11e5-81da-b92d8827ae1a.png)

Finished the Cyrillic glyphs and some basic kerning done! Anyone from the Overpass team willing to connect and help out?

[2015-12-26 12:44] inferno986return commented on #14
These are beautiful and seem to fit in nicely with the Highway Gothic style. I hope we get some official feedback soon. :-)

[2016-01-03 23:46] andyfitz commented on #17
https://github.com/RedHatBrand/overpass/releases/tag/2.1   all done

[2016-01-03 23:46] #17 closed

[2016-01-04 05:38] pravins commented on #17
Thank you @andyfitz  :+1:

[2016-01-06 15:36] andyfitz commented on #14
Hi there,  Cryllic isn't on the immediate roadmap but I have no issue with developing the glyphs in a branch until they are needed in a release.  For now the focus is on expanding the family to heavy and mono variants.

[2016-01-06 15:37] andyfitz commented on #9
Heres a prototype for the next gh-pages site
http://codepen.io/andyfitz/live/GoWmyW?editors=110

still to fix up the specimens but it does allow for manual resizing.

[2016-01-06 15:40] andyfitz commented on #13
https://github.com/caskroom/homebrew-fonts/blob/master/Casks/font-overpass.rb  thanks :+1:

[2016-01-06 15:40] #13 closed

[2016-01-06 15:44] andyfitz commented on #18
I think a single story “a” kindof goes agains the wayfinding origins of Overpass.
Seeing a stark contrast between “a” and “o” is part of the point of the family.

Not saying that the idea of having stylistic alternates are thrown out the window,  but this particular one isn't likely to make it into the family.

[2016-01-06 15:44] #18 closed

[2016-01-06 15:46] kevinSuttle commented on #13
Woot

[2016-01-06 16:48] andyfitz commented on #9
went ahead and changed it.. still need to give this project a proper site

[2016-01-06 16:48] #9 closed

[2016-01-06 16:49] andyfitz commented on #4
minor release done .. the standard has been established ;-)

[2016-01-06 16:49] #4 closed

[2016-01-23 01:40] quangbahoa opened #20 "Support Vietnamese"
Can you support Vietnamese characters?
http://prntscr.com/9tm925

Thanks

[2016-01-24 19:31] JaniKarh opened #21 "Webfont Files Download button leads to wrong package"
The download link (https://github.com/RedHatBrand/overpass/releases/download/2.1/overpass-fonts-web-fonts-2.1.zip) on http://overpassfont.org/ leads to a package with the same content as Desktop bundle.

Should include svg, woff, etc. I believe?

[2016-01-27 08:45] DerExilant opened #22 "some woff-Files seem to be corrupt in ZIP"
I've used the woff files from the webfonts zip and the files Overpass-Regular.woff and Overpass-Light.woff where reported as undecodeable by chrome. I've got these files from the overpass-font-web-fonts-2.1.zip. The files I've downloaded from the code section work fine.

[2016-01-27 23:17] gavinlaking opened #23 "Any plans to release a monospace / fixed width variation?"
Nice font! Is there any plans to release a monospace/fixed width variation suitable for programming?

[2016-01-28 09:35] naorunaoru commented on #14
Lowercase б and ж are weird, especially б. Others are quite good though!

[2016-01-28 09:40] marxo commented on #14
@naorunaoru You are quite right, it felt wrong to me too, so redesigned both of those a while back.
![new glyphs](https://cloud.githubusercontent.com/assets/431616/12640665/6771360c-c5ab-11e5-94f6-c4803f57927b.png)

BTW The whole Cyrillic set is finished, and I'll probably release it soon. I could use help with kerning and scripting, if there's anyone that wants to help feel free to contact me.

[2016-01-28 10:28] thany opened #24 "Font-weights 200 & 400 are identical"
On overpassfont.org the font-weights 200 and 400 are completely identical. Is there a reason to have that choice then? It might be better to remove one of them, I'd say. Or if there's supposed to be a difference, make sure it shows.

Also, some of the glyphs show a rectangle with a hex number in it for 200 & 400, but for 600.

[2016-01-28 14:30] aleksandar-todorovic commented on #23
I believe that this has been confirmed [here](https://github.com/RedHatBrand/overpass/issues/14#issuecomment-169360812). Can't wait to see the mono version!

[2016-01-29 00:47] andyfitz commented on #24
They aren't identical  maybe your browser didnt load them yet ?

[2016-01-29 00:47] #24 closed

[2016-01-29 00:48] andyfitz commented on #23
Yes that's on the queue and the initial regular and bold monospace variants should make debut soon

[2016-01-29 00:48] #23 closed

[2016-01-29 00:50] andyfitz commented on #20
I would love to,  unfortunately this isn't a priority for my team but all the sources are available should you need to make a custom version of this font.

Official support is also on the long-term roadmap but not in the coming months.

[2016-01-29 00:50] #20 closed

[2016-01-29 00:51] andyfitz commented on #21
Right you are!
Sorry about that!
Today I'm removing the button since a new release is pending and we can fix the link then.

[2016-01-29 00:51] #21 closed

[2016-01-29 00:53] andyfitz commented on #22
Thanks for the heads up.
This should be fixed in the next release from @DelveFonts ,  for now I've removed the package link

[2016-01-29 11:21] thany commented on #24
I tried a couple of times, but the browser was definitely done loading. No progress indication anywhere, but I guess I could check the network log (when I get to a computer again)

[2016-02-02 03:43] andyfitz commented on #24
![400-200-visible-weights](https://cloud.githubusercontent.com/assets/1276715/12739189/2bcf9f3a-c9a2-11e5-849f-0196b7c15d48.gif)

[2016-02-02 13:24] yuchi opened #25 "Different heights between 200/400 and 600/700 weights"
In the online preview of the Web Font is possible to notice a difference in heights between different weights. In the next image I tried to highlight the difference by placing a box just under the last pixel of straight letters (lower case `H` and upper case `I`). You can see the purple box (for `200` and `400`) overlaps vertically only part of the blue box (`600` and `700`).

<img width="304" alt

[2016-02-02 17:05] DelveFonts commented on #25
Thank you @yuchi for pointing this issue out. It will be resolved with the next update.

[2016-02-02 17:07] yuchi commented on #25
Would you mind to reference this issue in commits so that I can follow the changes? While completely ignorant in design and pratical issues around font face implementation, I’m very willing to learn.

[2016-02-02 17:25] DelveFonts commented on #25
Will do.

[2016-02-02 17:44] DelveFonts commented on #10
Thanks @lekkerduidelijk for bringing this to our attention. @andyfitz Edge does not support EOT. AFAIK, EOT's are only used by IE 8-11 with an estimated collective support globally at < 10%*.

_*Source: http://caniuse.com/#search=eot_

[2016-02-03 00:43] keripix commented on #22
I also faced the problem ini Firefox 43, but only for the Overpass-Light.woff

[2016-02-20 17:51] atelierbram opened #27 "Font is not displayed in Firefox"
Firefox console gives this message (Overpass-Light, for .woff and .ttf):

[code]

Maybe due to [stricter validation rules](https://bugzilla.mozilla.org/show_bug.cgi?id=1244693)?

[2016-02-20 19:09] davelab6 commented on #27
https://github.com/khaledhosny/ots/blob/master/docs/HowToFix.md#dflt-script-doesnt-satisfy-the-spec explains

[2016-02-20 19:53] DelveFonts commented on #27
Thank you @atelierbram for bringing this to our attention. This particular issue will be resolved with the next update (currently in progress) as the project was migrated to the Glyphs app for production.  /cc @davelab6

[2016-02-20 20:05] davelab6 commented on #27
Nice! Would be great to try the https://github.com/googlei18n/fontmake
glyphs compiler :)

[2016-02-23 06:43] thany commented on #24
I appreciate you making the animation showing the problem doesn't happen for you... But it does for me. I always say, if I have this problem, others might as well...

[2016-02-26 14:11] andyfitz commented on #24
There's about to be a major update to all files so hopefully this fixes the issue .  I'll keep it open for now.  thanks for raising it :+1:

[2016-04-01 09:26] richardfontana opened #28 "Why dual-licensed under LGPL 2.1?"
Overpass fonts were originally intended to be licensed under the SIL OFL 1.1. As of https://github.com/RedHatBrand/overpass/commit/0d2d650bddfe50f3f1f595cb6e3e2562ec837830 it said to be dual-licensed under LGPL 2.1. What was the reason for this license change? LGPL seems unsuitable as a license for fonts.

[2016-04-01 15:25] davelab6 commented on #28
I agree that LGPL is unsuitable for fonts.

I believe that the first Ubuntu font that @andyfitz designed was released under the LGPL, before the OFL became widely known if not predating it; and there are a few other LGPL fonts floating around, but generally the "Go OFL!" campaign has upgraded them to OFL over the years.

[2016-05-02 22:25] andyfitz commented on #28
For better or worse, LGPL is _the_ 'no brainer license' for developers looking to embed fonts in their software without major copyleft concerns.

OFL has an awareness problem for non font savvy developers in this regard and we didn't want roadblocks in the way of adoption.
OFL is of course the preference, but there's not much recourse from supporting LGPL also and that's why we did.

[2016-05-03 00:54] davelab6 commented on #28
But OFL says "only this license" so downstream users may get into trouble

[2016-05-03 01:21] richardfontana commented on #28
@andyfitz okay no objection assuming (as seems to be the case) there is no legal obstacle to the additional license choice. At least it is not the Liberation Fonts license (to which the choice of OFL for Overpass can be seen as a strong reaction).

@davelab6 I am not concerned about the "only this license" issue since the copyright owner can dual-license under OFL or another license.

[2016-05-03 01:21] #28 closed

[2016-05-03 02:24] davelab6 commented on #28
What do downstream users do?

[2016-05-03 02:53] richardfontana commented on #28
@davelab6 downstream users can pass on the choice or explicitly pick one or the other license (here OFL or LGPL).

[2016-06-02 06:05] andyfitz commented on #28
Thanks for the excellent advice @richardfontana

[2016-08-24 10:45] funtoosh commented on #27
So this has not been fixed yet? :-(
Quite a massive issue, imho ...

[2016-09-11 12:24] Jpsy commented on #14
Hi Марко, is there a way you could provide us with your unofficial version of the Overpass including Cyrillic letters? That would be great!

[2016-09-30 16:37] Fale opened #30 "Add latex package"
A think it would be nice to have a latex package to be able to use in an easy way the overpass font in latex

[2016-10-08 19:42] jarlarntzen opened #31 "Increase difference between letters 'l', 'I'"
**Il** (`Il`)
I would like to suggest adding slight differences in height for the letters `I` and `l` as well as a slight lower serif for the `l` in order to make them better distinguishable.

[2016-10-08 20:02] jarlarntzen commented on #31
Actually, I see now that there actually is a difference but it is very slight and I failed to see it at 14pt size.

[2016-11-17 03:59] andyfitz commented on #10
Version 3.0 has been released and while the site still needs to be updated,  I think this issue has been resolved.

[2016-11-17 03:59] #10 closed

[2016-11-17 04:00] andyfitz commented on #22
All new woff files in V3,  none of them seem to be corrupt :)

[2016-11-17 04:00] #22 closed

[2016-11-17 04:00] andyfitz commented on #27
It's been fixed,  version 3.0 is out !

[2016-11-17 04:00] #27 closed

[2016-11-17 04:01] andyfitz commented on #25
the metrics have been resolved thanks to the new 3.0 release.

Thanks for your patience!

[2016-11-17 04:01] #25 closed

[2016-11-17 04:01] andyfitz commented on #3
All fixed

[2016-11-17 04:01] #3 closed

[2016-11-17 04:02] andyfitz commented on #30
hrmmm..  this sound good but outside of my realm.  Please send a pull-request if you can.

[2016-11-17 04:02] #30 closed

[2016-11-17 04:03] andyfitz commented on #31
the monospace files in v3 have deliberate differences between glyphs whereas the proportional is deliberately homogenous for some of those forms for cosmetic reasons.

[2016-11-17 04:03] #31 closed

[2016-11-17 04:04] andyfitz commented on #14
I'm closing this issue since it didnt make the 3.0 release.

Would love to see Cryllic in Overpass eventually and this may be something down the road for the project.

[2016-11-18 11:46] m4rc1e opened #32 "space & nbspace do not have the same width"
Hey folks,

The space uni0020 should have the same horizontal metrics as nbspace uni00A0.

![screen shot 2016-11-18 at 12 43 56](https://cloud.githubusercontent.com/assets/7525512/20429074/b6495e8e-ad8c-11e6-83f1-bd7492a6f523.png)

I found this error in the Thin and Light.

My [Glyphsapp scripts](https://github.com/m4rc1e/mf-glyphs-scripts) has QA scripts to check these issues.

[2016-11-18 12:18] m4rc1e opened #33 "Win metrics causing clipping"
Hey,

The Win Metrics are causing clipping in Window's applications. The [spec](https://www.microsoft.com/typography/OTSpec/os2.htm#wa) is a rather interesting read for these values. At GF it is policy to make the win Ascent and win Descent the ymin, ymax of the font's bbox. I've peiced together a quick glyphsapp [script](https://gist.github.com/m4rc1e/731d4a5f3b5b3425edcb4bfcae80302e) to report t

[2016-11-18 13:00] nertpinx opened #34 "Add support for Powerline symbols"
When trying Overpass Mono in terminal with powerline symbols, it works only if I select Light version of the font. Any other version is missing the symbols.  Here are two example symbols that show exactly this behaviour:  

If you let me know how to debug it further or work with the glyph files (I couldn't find any way to edit them and build the font files), I'd be happy to help with this.

[2016-11-18 13:13] davelab6 commented on #32
This is required for Google Docs text to work correctly

[2016-11-18 13:15] davelab6 commented on #33
I suggest making the change even if it is disruptive for users because clipping or cutting off essential parts of the letters is never going to get better for readers of those glyphs, but a little reflow can be worked around 😄

[2016-11-18 13:17] davelab6 commented on #34
Perhaps as a quick fix the glyphs in the light can be copied to the glyphs in the other styles, then when other versions of other weights for the glyphs become available they can be used?

[2016-11-18 15:05] HamzaTalaghzi opened #35 "I would be happy if you make the subscripts char more smaller ..."

[2016-11-18 15:11] nertpinx commented on #34
I would like to try that, but I'm not sure how to build the OTF from the glyphs, nor how to edit the glyphs file. Any hints appreciated.

[2016-11-18 15:16] #35 closed

[2016-11-18 15:25] HamzaTalaghzi opened #36 "subscripts char !"
subscripts char is bigger than what is supposed to be and its font-weight is much bold compared to others char
you can try this to see difference : 123456789abcx₁₂₃₄₅₆₇₈₉₀

[2016-11-18 19:26] DelveFonts commented on #32
Thank you for bringing this to our attention @m4rc1e. This will be corrected in a minor bug-fix update currently in the works here. @davelab6 Does Google Docs make use of any other whitespace characters?

[2016-11-18 19:31] DelveFonts commented on #33
Thank you @m4rc1e for pointing this out and @davelab6 for weighing in. We will review and determine the appropriate revisions to make for this.

[2016-11-18 19:47] DelveFonts commented on #34
@nertpinx We are not familiar with those glyph names. Please provide the unicode positions to clarify which characters those are.

[2016-11-18 23:24] davelab6 commented on #32
Not afaik. You can now easily check fonts to gf requirements with
fontbakery.appspot.com thanks to hard work by @felipesanches

[2016-11-19 02:43] DelveFonts commented on #32
Ok, thanks Dave.

[2016-11-19 05:56] DelveFonts commented on #36
@HamzaTalaghzi To be clear, are you referring to the subscripts in the Monospace set or the normal (proportional) family?

[2016-11-19 15:59] HamzaTalaghzi commented on #36
I'm actually using the normal web-font and to be honest i'm not expert in that domain
I'm just didn't like the look of this subscripts but in general the font is very beautiful ;
Nice work 👍

[2016-11-19 22:34] #36 closed

[2016-11-20 22:06] nertpinx commented on #34
Oh, I'm sorry. It's from the PUA. I haven't realized that these particular code points are intentionally standardized (see "Powerline" in https://en.wikipedia.org/wiki/Private_Use_Areas ). I am still wondering, though, how come it is in the Light font and not in any other?

[2016-11-21 01:40] DelveFonts commented on #34
Ah, thanks for the clarification @nertpinx. The Powerline glyphs are actually not in the Light (or any weight) of Overpass. I suspect the glyphs you are seeing may be displayed in another (fall-back) font. However, the Powerline glyphs would be good additions to Overpass Mono, so we will put them on the list for an update.

[2016-11-21 12:08] nertpinx commented on #34
I would expect the fallback to happen either for all fonts or no font at all. Anyway, I'm glad you feel that would be valuable. Thank you very much for considering that.

[2016-11-28 00:52] andyfitz commented on #34
the powerline symbols work fine for me (falling back to other fonts)
![screenshot from 2016-11-28 10-52-01](https://cloud.githubusercontent.com/assets/1276715/20653395/b71653ac-b558-11e6-883c-e3113e8eca10.png)

[2016-11-28 10:22] nertpinx commented on #34
Is that true for both Light and Regular variants? It works for me with the Light variant, but doesn't with any other one. I tried tweaking the configuration and still Light differs from others (for both Mono and normal). It may be misconfiguration on my side, but I think that either all or none would work in that case.

[2016-11-28 11:17] andyfitz commented on #34
mono light semibold and bold work for me  but regular fails -     this has more to do with out systems trying to do glyph based fallback at matching properties than it does about the font.   maybe I have fallback weights in all but regular

[2016-11-28 12:48] nertpinx commented on #34
Yes, it looks like my fontconfig settings are messed up. Sorry for taking your time.

[2016-11-28 12:48] #34 closed

[2016-11-28 23:51] andyfitz commented on #33
I'm okay for reflow also;  almost all of our uses are purely as webfonts with pretty robust layout rules.

[2016-12-02 01:40] DelveFonts commented on #32
Fixed! Corrected files are in Overpass version 3.01 and Overpass Mono version 1.01 coming your way very soon.

[2016-12-02 01:41] #32 closed

[2016-12-02 01:42] DelveFonts commented on #33
Fixed! New versions are on the way.

[2016-12-02 01:42] #33 closed

[2016-12-02 07:51] m4rc1e commented on #32
Thank you sir

[2016-12-02 12:56] m4rc1e opened #37 "vertical metrics on v3.001"
Hey folks,

Sorry to disturb again. Ok, you've solved the clipping but the line spacing is now too loose. Since it's a Friday, I'll take a stab at this myself I think. Give me a few hours.

![screen shot 2016-12-02 at 13 48 46](https://cloud.githubusercontent.com/assets/7525512/20834566/6faf93e8-b896-11e6-8a5f-aca12826a543.png)
![screen shot 2016-12-02 at 13 48 18](https://cloud.githubusercontent.

[2016-12-02 13:07] m4rc1e commented on #37
Just gathering more info, I could end up with egg on my face here

[2016-12-02 13:33] mcepl opened #38 "Ligatures for Overpass Mono?"
I wondered there is any hope Overpass Mono would ever get programming ligatures like what Fira Code (https://github.com/tonsky/FiraCode/) has.

[2016-12-02 14:13] m4rc1e commented on #37
I've compared the metrics against the old fonts and figured out values which should retain the old leading and not lead to clipping.

We currently have this situation:

**Left: Old Right: New**
![screen shot 2016-12-02 at 14 55 59](https://cloud.githubusercontent.com/assets/7525512/20836434/7da252a2-b89f-11e6-887a-c9ae969f6f14.png)

old value totals:
win total = 1266
typo total = 1266
hhea total =

[2016-12-02 19:07] DelveFonts commented on #37
Thanks for bringing this to our attention and for the recommends @m4rc1e. We thought the issue was resolved but will give it another shot right away.

[2016-12-02 19:11] DelveFonts commented on #38
We want Overpass Mono to be a great tool for programmers so we will look at the possibility of adding ligatures.

[2016-12-03 01:18] DelveFonts commented on #37
Fixed. After reviewing the options, we are going with your recommendation to see how that shakes out.

[2016-12-03 01:18] #37 closed

[2016-12-03 01:21] DelveFonts commented on #38
Also, meant to say: Thank you @mcepl for bringing that up.

[2016-12-03 01:21] #38 closed

[2016-12-03 01:48] mcepl commented on #38
So, why is this ticket closed?

[2016-12-05 11:39] m4rc1e opened #39 "Increment version number to v3.002"
for commit d00e5ad

Current version number is v3.000. Let's make it v3.002.

Cheers,
Marc

[2016-12-05 11:45] m4rc1e commented on #39
I'll send a pr :-)

[2016-12-05 12:21] #39 closed

[2016-12-05 12:26] mcepl opened #41 "Overpass Mono is not recognized correctly"
When I set Overpass Mono as a system mono font, Evolution gets confused and uses proportional font instead. With DejavuSans Mono everything works fine. Not sure what's the problem (and the pyramid of Evolution and libraries it uses is too high to be able to find out where the things break), but I thought it might be fruitful to compare metadata of these two fonts to find out whether Overpass Mono

[2016-12-05 13:34] davelab6 commented on #41
Fontbakery should catch all the mono metadata, eg Panose monospace bit and
isFixedWidth bit

Cc @m4rc1e

On Dec 5, 2016 7:27 AM, "Matěj Cepl" <notifications@github.com> wrote:

When I set Overpass Mono as a system mono font, Evolution gets confused and
uses proportional font instead. With DejavuSans Mono everything works fine.
Not sure what's the problem (and the pyramid of Evolution and libraries

[2016-12-05 13:44] m4rc1e commented on #41
@davelab6 FB doesn't report any errors with isFixedWidth. However, Overpass Mono is panoseless. Perhaps setting a panose for each weight could solve this issue.

[2016-12-05 13:45] davelab6 commented on #41
Then fb is broken because the monospace bit of panose must be set for
monospace fonts!

Cc @felipesanches

On Dec 5, 2016 8:44 AM, "Marc Foley" <notifications@github.com> wrote:

@davelab6 <https://github.com/davelab6> FB doesn't report any errors with
isFixedWidth. However, Overpass Mono is panoseless. Perhaps setting a
panose for each weight could solve this issue.

—
You are receiving this beca

[2016-12-05 23:39] felipesanches commented on #41
@davelab6 Would you like to make PANOSE mandatory ? Meaning that if a font file lacks a panose value, fontbakery would generate an error regarding that?

[2016-12-05 23:46] davelab6 commented on #41
It's mandatory only for monospace fonts, others should be blank, or, if any
file in a family has a value set, the value should be set to something in
the other styles (although the value each is set to can vary)

On Dec 5, 2016 6:39 PM, "Felipe Corrêa da Silva Sanches" <
notifications@github.com> wrote:

[2016-12-05 23:50] DelveFonts commented on #41
Thanks for bringing this to our attention. We will get it fixed ASAP.

[2016-12-05 23:52] felipesanches commented on #41
An I'll add an explicit test to make fontbakery emit an error if that problem is ever found again in a font file :-)

[2016-12-11 22:02] andyfitz commented on #38
It's not on the immediate roadmap and hasn't been a release goal.   I wouldn't consider it an issue.

using Fira code with ligatures got annoying for my tastes.

Will keep assessing demand for future versions

[2016-12-11 22:06] mcepl commented on #38
Thank you for clear stance.

[2016-12-12 19:28] kristvanbesien opened #42 "Circled Number Glyphs are missing."
circled Number Glyphs, eg: ❶ are missing. I use these a lot in callouts, and this means that (for the moment) I canot yet move my asciidoctor themes to use the overpass fonts.

[2016-12-13 11:34] yuchi commented on #25
@andyfitz Could you please give me some details on how that happened and you solved it?

[2016-12-13 16:57] WolfEdge opened #44 "Not on Google Fonts"
On http://overpassfont.org/ it references Google Fonts as one of the hosts that can be used to get the font at the bottom of the page. Clicking on the Google Fonts link shows Overpass is not there.

I've searched the Google Fonts directory myself and I can't find it. It seems to have been removed, which is a shame really.

Apologies if this is not a good place to put this. I was not sure who to co

[2016-12-14 13:27] roberrrt-s commented on #44
google/fonts#128

[2016-12-17 14:02] zoran-v-petrovic commented on #14
Lowercase б was correct Serbian glyph, now is Russiаn glyph.
It is well know that there are few Serbian Cyrillic glyphs, usually available with OpenType locl feature.
My post on https://github.com/adobe-fonts/source-sans-pro/issues/38
I hope that You (RedHat or Марко Кажић as a contributor) will include Cyrillic with OpenType LOCL  feature for these Serbian Glyphs. Small б in regular, all other sm

[2016-12-17 15:53] davelab6 commented on #14
I'd like to request opening this to track it, it's possible that I can bring some Cyrillic designers to help this effort :)

[2016-12-17 16:38] zoran-v-petrovic commented on #14
Thanks Dave !

[2016-12-24 00:16] jsonmaur opened #45 "TTF font files don't exist"
Wondering why the CSS files in webfonts reference `.ttf` files for Safari, Android, and iOS, but the files don't exist?

[2016-12-30 09:21] andyfitz commented on #45
oh that's embarrassing!  The files are back in the repo

[2016-12-30 09:21] #45 closed

[2017-01-11 16:16] codeman38 opened #46 "Mono: Parens and braces are difficult to distinguish at small sizes"
In Overpass Mono, the curly brace glyphs have an extremely rounded curve, and the 'pinch' of the curve is very subtle. Because of this, they're very difficult to distinguish from parentheses at a glance, especially at smaller font sizes.

See, for instance, this comparison (9pt, 120dpi) between Overpass and three other popular open-source monospace fonts, and note how the middle of the curve is mu

[2017-01-11 23:19] andyfitz commented on #46
They look very distinct to me...  more so on my system also
![eg](https://cloud.githubusercontent.com/assets/1276715/21870454/24b7c504-d8a8-11e6-9415-9848554fb0d6.png)

[2017-01-11 23:27] davelab6 commented on #46
Sometimes this is resolved by having the curly braces a little taller

On Jan 11, 2017 3:19 PM, "Andy Fitzsimon" <notifications@github.com> wrote:

[2017-01-11 23:43] andyfitz commented on #44
https://fonts.google.com/?query=overpass

![Party Time](http://media1.giphy.com/media/CkkVulYzFjd72/giphy.gif)

[2017-01-11 23:43] #44 closed

[2017-01-12 00:54] jkbrock commented on #44
Congrats font team!!!! Great work!!

On Wed, Jan 11, 2017 at 6:43 PM Andy Fitzsimon <notifications@github.com>
wrote:

[2017-01-12 09:34] nertpinx opened #47 "Lowercase letter r in Overpass Mono is with serif"
Both Overpass and Overpass Mono fonts are sans-serif fonts.  However, I see the lowercase letter r with serifs. I first thought that was a mistake on my part, but seeing Overpass is currently on Google Fonts as well, and it is certainly visible there, and on overpassfont.org as well (see monospaced links in the top part of the page), it looks like it is a problem in the font itself. Looking closel

[2017-01-12 15:29] WolfEdge commented on #44
Ta. Congrats guys! And thank you for updating my issue @andyfitz. Just wanted to say Overpass Mono looks _amazing_ in my terminal.

[2017-01-13 04:23] andyfitz commented on #47
This is by design @nertpinx   The challenge was to provide rendered distinction between glyphs yet strinking a balance to occupy the same horizontal footprint and flow accordingly.

the lowercase characters you see with slabs had to be this way or they would vacate too much realestate.

This is the challenge of monospaced fonts.  at some sizes  it gets really important to tell r from c from ( from

[2017-01-13 04:23] #47 closed

[2017-01-13 04:24] andyfitz commented on #46
yeah I had considered that but I like the vertical parity and think Dave and Delve did too.  will resolve as a #wontfix

[2017-01-13 04:24] #46 closed

[2017-01-13 05:23] davelab6 commented on #47
I agree, many monospace fonts have this design

On Jan 12, 2017 8:23 PM, "Andy Fitzsimon" <notifications@github.com> wrote:

[2017-01-13 08:01] nertpinx commented on #47
OK, thanks for the info, it's true.  I haven't realized because I do not find it as disturbing with some other fonts I use.

[2017-01-20 13:44] roberrrt-s commented on #44
Much love <3

[2017-01-25 17:13] buuhsmead commented on #30
With help of this page I was able to use the Overpass font(s).
http://tex.stackexchange.com/questions/46/how-do-i-use-an-opentype-font-with-my-latex-document.
I do have the fonts installed as system font.

\usepackage{xltxtra}
\setmainfont{Overpass Regular}

[2017-01-27 23:32] Fale commented on #30
Yes, XeTeX supports such fonts, but brings with it many consequences

[2017-03-08 19:12] mykaul opened #48 "Hebrew letter ק looks bad in bold"
When using it in bold, the vertical line remains as is - doesn't become bold.

[2017-03-11 19:01] mykaul commented on #48
Closing - an issue with Google slides rendering, I suspect - in 'presentation' mode it looks OK.

[2017-03-11 19:01] #48 closed

[2017-04-04 20:32] rgmatthes opened #49 "Overpass Semibold given Overpass Light family name"
Prevents correct installation.

[2017-04-05 03:28] andyfitz commented on #49
?  can you add more detail here

[2017-04-05 15:00] rgmatthes commented on #49
Sure. I installed the full Overpass family on a desktop using the OTF files and noticed Overpass Semibold only seemed available as an italic. Digging in, I found that's because Overpass Semibold Regular is mistakenly for in the Overpass Light family, not the Semibold family.

Here's a screenshot:
![image](https://cloud.githubusercontent.com/assets/6545324/24711779/8c0b3a86-19e6-11e7-8953-224bbda21

[2017-04-05 22:50] DelveFonts commented on #49
Hi @rgmatthes, Thank you for bringing this to our attention. The family name being “Overpass Light” is not a mistake. It is grouped with the Light so it can act as the ‘Bold’ for the Light weight in applications that make use of style-linking. This is fairly standard practice. Perhaps the real question here would be: why is it only showing up as italic? We will look into this matter. Could you tel

[2017-04-06 13:44] rgmatthes commented on #49
This is in Windows 10, Microsoft Word 2016.

Here's a better picture illustrating my problem (screenshot from FontForge free trial):
![image](https://cloud.githubusercontent.com/assets/6545324/24757436/e53a72de-1aa4-11e7-8746-27acf28f1f6e.png)

tl;dr: I think the circled values should match.

[2017-04-07 18:49] DelveFonts commented on #49
Thanks @rgmatthes! Yes, they should match. Not sure how that happened but it will be fixed.

[2017-04-09 23:53] davelab6 commented on #49
I don't recommend style linking anything except Roman 400 to Roman 700 and
Italic 40 to Italic 800

@m4rc1e did you hotfix this for GF?

On Apr 7, 2017 8:49 PM, "Delve Withrington" <notifications@github.com>
wrote:

[2017-04-10 10:14] m4rc1e commented on #49
@davelab6 We've used the ttf, this problem is for the otfs. I also ran the ttfs through our naming sanitiser.

![screen shot 2017-04-10 at 11 13 28](https://cloud.githubusercontent.com/assets/7525512/24857044/c26e4748-1dde-11e7-955c-381c7c8c75cc.png)
My font menu look good with the GF ttfs.

[2017-04-10 17:36] DelveFonts commented on #49
“I don't recommend style linking anything except Roman 400 to Roman 700 and
Italic 40 to Italic 800”

@davelab6 Why is that?

[2017-04-10 19:25] davelab6 commented on #49
It's the current fontlab recommendation; in my experience users are
confused by missing styles :)

On Apr 10, 2017 7:36 PM, "Delve Withrington" <notifications@github.com>
wrote:

[2017-04-20 16:22] rgmatthes commented on #49
One more very picky thing: consistent hyphens in the variant names. This is the Windows 10 preview window for both Regular and Bold:
![image](https://cloud.githubusercontent.com/assets/6545324/25241358/4ae959d0-25bb-11e7-8577-0de854130984.png)

No feelings on whether these should be hyphened or not, just that they should be consistent. The registry also gets goofed on this:
![image](https://cloud.

[2017-04-20 17:03] m4rc1e commented on #49
@rgmatthes feel free to start a new issue with this bug.

[2017-05-08 18:15] StefanPeev commented on #14
@marxo @inferno986return @andyfitz @naorunaoru @Jpsy @davelab6 If Cyrillic will be on the roadmap of this project I'm ready to participate in it offering both traditional Cyrillic, Bulgarian Cyrillic, Serbian and Macedonian Cyrillic Script. So, please. let me know where is the Cyrillic on the roadmap of the project.

[2017-06-01 17:27] hjri opened #53 "Cyrillic glyphs have different weight\height than latin."
Here what it looks like on http://overpassfont.org/ on "try it" page in chromimum, linux, weight set to 200.
![](https://i.imgur.com/EFi3O7F.png)

The test string is `АAВBСCЕEНHКKМM` which is cyrillic letter followed by similar latin symbol.
Same applies to Firefox and KDE/Qt when overpass is set as system default font.

Similar bug also affects mono variant:
![](http://i.imgur.com/O6FHQze.png)

[2017-06-01 17:56] DelveFonts commented on #53
@hjri The Overpass family does not currently have Cyrillic script characters. The image is showing the browser replacing the missing characters with a different font as a fall-back so that the text can still be read.

[2017-06-01 18:38] hjri commented on #53
Oh. I haven't thought about that. Is support planned?

[2017-06-02 22:54] DrDoctor13 opened #54 "Overpass Mono doesn't appear as a fixed-width font on KDE Plasma"
When changing the font in system settings for fixed-width, Overpass is absent from the list. It will appear in any normal font selection dialog box.

[2017-06-10 22:10] YBinnenweg opened #55 "Overpass Mono capital S is 1 pixel taller than a capital P on some sizes"
Hello,

While trying Overpass Mono regular in my terminal I noticed that a capital S is 1 pixel taller than a capital P on some sizes.

On size 13, everything looks fine. When switching it to size 11 though, it looks off. For the following examples I turned off AA in my Gnome Tweak Tool, took a screenshot, and zoomed in in GIMP (2300% zoom):

Size 11
![screenshot from 2017-06-11 00-05-54](https://

[2017-06-11 02:24] davelab6 commented on #55
This probably won't be fixed because the round shapes being measurably
taller than the flat shapes is intended, so that they are perceived as the
same height in typical font rendering environments.

This fully aliased style of rendering was last typical about 20+ years ago,
and the freetype library is capable to antialiased rendering. I suggest
exploring the GIMP options and using an option that a

[2017-06-11 10:17] YBinnenweg commented on #55
Hi Dave,

Thanks for your reply!

The reason I turned off anti aliasing was because I figured I'd see what the font looks like without any extra effects. The same does happen when anti aliasing is enabled though:

Size 11 AA enabled
![screenshot from 2017-06-11 12-11-32](https://user-images.githubusercontent.com/1544608/27010200-22b15af0-4e9f-11e7-9409-2a63ab6830c8.png)
Size 13 AA enabled
![screen

[2017-06-16 16:14] agentphoenix opened #56 "Line height rendering issues"
First off, awesome work on this font. Just discovered it last night and am trying to get it into a project that I'm working on.

I've noticed that on Windows there are some line height issues that I haven't seen on my Mac and was curious if there are ways around it or if this one rests solely on Microsoft's shoulders. It looks worst in IE and Chrome. Firefox seems to be a little better, but it sti

[2017-06-17 03:24] davelab6 commented on #56
Hmm that's odd. I think the vertical metrics were set per recommendation of
@m4rc1e so hopefully he can take a look

On Jun 16, 2017 12:14 PM, "David VanScott" <notifications@github.com> wrote:

First off, awesome work on this font. Just discovered it last night and am
trying to get it into a project that I'm working on.

I've noticed that on Windows there are some line height issues that I
haven'

[2017-07-25 12:13] icidasset commented on #56
Similar issue here looks good in Chrome & Safari, but not in Firefox.

Chrome:

<img width="232" alt="screen shot 2017-07-25 at 2 10 42 pm" src="https://user-images.githubusercontent.com/296665/28571443-326ef134-7143-11e7-9d4e-0c0224885223.png">

Firefox:

<img width="229" alt="screen shot 2017-07-25 at 2 10 30 pm" src="https://user-images.githubusercontent.com/296665/28571444-32728f9c-7143-11e7-8

[2017-07-25 13:21] davelab6 commented on #56
@m4rc1e could you schedule a half day to look at this next month?

[2017-07-25 13:25] m4rc1e commented on #56
@davelab6 more than happy to. @icidasset Could you provide a jsfiddle or jsbin of this please? too many other variables could be causing this problem.

[2017-07-25 15:35] icidasset commented on #56
@m4rc1e Sure thing, it's used here: http://ongakuryoho.com/sources You can click the `Sign-in anonymously` button to continue to where the screenshot was taken.

[2017-07-26 14:23] agentphoenix commented on #56
@m4rc1e I provided a really simple Codepen with the original issue that you can check out to see what I'm talking about on Windows systems. The same issues might be impacting other browsers on Mac as well.

https://codepen.io/anon/pen/KqaKaK

[2017-07-26 14:54] m4rc1e commented on #56
@agentphoenix Thanks for the test.

Most fonts will have different metrics when compared to one another. I'm sure if you tested Source Sans Pro or even Arial with them, you'll see they're all different. Vertical metrics are set based on the vertical dimensions of the font.

[2017-07-26 15:42] agentphoenix commented on #56
@m4rc1e yeah I get that. My test was more to show a font that is vertically centered in a div versus Overpass which isn't in some browsers and operating systems. The only way I was able to get it vertically centered on Windows was to mess around with top padding.

I'm happy to help test anything if you need it, so just let me know!

[2017-10-05 19:50] starryeyez024 commented on #56
I can confirm I am seeing this issue too.
Here's an example of basic text with descenders and a superscript item.

You can see in [Chrome](https://www.evernote.com/l/AA6vnKBR93dM36hEmyoJVMJYtJuUJZHyPmM), the descenders reach all the way to the bottom of the area where the text is being rendered. In [Firefox](https://www.evernote.com/l/AA7yRf0HMAtB7Y899iMBlYoI6-i5i569yMs), there is extra space belo

[2017-10-31 22:27] b-sharpe commented on #56
Can confirm, IE also renders poorly

[2017-11-01 08:29] m4rc1e commented on #56
@b-sharpe start a new issue and add a screenshot please.

[2017-11-02 17:34] bentley opened #57 "Versioned release tarballs"
Up until 2.1, the tarballs added to the Github releases contained the version number. It would be appreciated (for packaging reasons) if future distfiles could do the same (e.g., “overpass-desktop-fonts-3.0.2.zip”).

[2017-11-28 05:03] andyfitz commented on #14
@davelab6   very very late to reopen this,  but it's open again.
Let's make this a thing

[2017-11-28 17:57] davelab6 commented on #14
Great! When this gets going, happy to share what we learned in our recent Cyrillic projects - https://design.google/library/scripting-cyrillic/

[2017-11-30 11:48] StefanPeev commented on #14
I hope @marxo will share his Cyrillic project. I'm ready to help after that - if it is needed.

[2017-11-30 23:47] marxo commented on #14
@StefanPeev @andyfitz I'd love to help. How do I contribute my glyphs to this repo?

[2017-12-02 05:41] davelab6 commented on #14
@marco first please fork this repo and then checking your work and share the link here. Then we can take a look :)

[2018-01-03 14:56] diondiondion commented on #56
Any update on when or whether this will be fixed? We're currently looking into replacing our typekit font with an open source font that we can self-host, and Overpass looks like it would be a perfect fit, but this issue is quite a deal breaker unfortunately. :(

It doesn't just happen on Windows, it's also quite apparent on Firefox on macOS (Chrome left, FF right):
![image](https://user-images.git

[2018-02-02 20:32] cssobral2013 opened #59 "Add tabular figures"
It wouldn't be a bad idea to add tabular figures to this font.

[2018-02-02 20:39] DelveFonts commented on #59
@cssobral2013 Thank you. That is a good suggestion. May I suggest using the numerals within Overpass Mono, in the meantime? They are tabular by default, since it is monospaced.

[2018-02-26 06:55] orffen commented on #54
This also appears to be a problem on Windows for e.g. Powershell/Command Prompt.

[2018-03-15 16:16] MrClyfar opened #60 "Ovepass fonts doesn't look too good in Visual Studio 2017"
I've installed the Overpass Mono font .otf file into my Windows fonts.

When I select Overpass Mono as the font to use in Visual Studio 2017, the end result does not look good at all. If you look at the attached screenshot, you'll notice that the font does not render well.

My question is whether this is because I'm using the font in Windows and nothing can be done, or something else to do with th

[2018-04-13 07:50] naav commented on #60
I'm having a similar issue on Debian Sid when displaying Overpass Mono Regular at size 9. I have tried all combinations of hinting (none, slight, medium, full) and anti aliasing (none, grayscale, subpixel), with identical results. The problem is not present at size 10 and above.

In Gedit:
![image](https://user-images.githubusercontent.com/121653/38722688-48c4f8e0-3f31-11e8-9169-3513d865e321.png)

[2018-04-26 14:28] castastrophe opened #61 "NPM Package.json"
Would it be possible to add a package.json as well as the bower.json?  We are moving away from bower as it has been deprecated and without a package.json, we're unable to opt into a particular tag release of the font.

[2018-04-26 14:33] castastrophe commented on #61
Sorry this is a duplicate.  The package.json is not in the 3.0.2 release so I thought there wasn't a file.

[2018-04-26 14:33] #61 closed

[2018-04-26 14:42] castastrophe opened #62 "Request a release"
Is it possible to get a new release for Overpass to include the package.json for the font in the tag release?  The last release was Dec 2, 2016 but the package.json file was merged in May 17, 2017.

[2018-04-26 14:43] castastrophe commented on #62
Tagging @andyfitz and @siwinski to help shepherd.

[2018-05-10 03:40] andyfitz commented on #62
Sure thing @castastrophe ,  anything else you'd like included in the release?

[2018-05-18 00:11] gusbemacbe commented on #60
I also have this problem on the browser.

[2018-05-18 00:14] davelab6 commented on #60
Reapplying the latest version of ttfautohint with the family-wide features
could help.

If that isn't enough, developing a ttfautohint controls file (
https://www.freetype.org/ttfautohint/doc/ttfautohint.html#control-instructions)
will be needed

[2018-05-18 00:27] gusbemacbe commented on #60
I used FontForge to generate autohint and it seems to be solved, but I do not know if it was a bad idea. Here's the result:

![image](https://user-images.githubusercontent.com/2257024/40210026-2262bfea-5a19-11e8-9626-d324074319b4.png)

[2018-05-18 00:31] gusbemacbe commented on #60
And here is the result in VSCode:

![image](https://user-images.githubusercontent.com/2257024/40210125-98b8bf82-5a19-11e8-9b06-c3daeb3eb241.png)

[2018-07-25 06:58] michaelkuhn commented on #41
This is still happening for me with Overpass 3.0.2 on Fedora 28. Moreover, this does not seem to be limited to the monospace font: If I set Overpass as the system UI font and Overpass Mono as the system monospace font, Evolution uses some other proportional font for both instead. However, this only applies to the WebKit parts of Evolution (composer, e-mail view etc.) and not the GTK parts (folder

[2018-07-25 08:18] michaelkuhn opened #65 "GNOME cannot distinguish Bold from SemiBold"
If I select Overpass Bold it actually ends up being the same weight as Overpass SemiBold.
I can remember that Source Sans Pro used to have a similar problem but I cannot find a source anymore.

This is on Fedora 28 with Overpass 3.0.2.

[2018-07-25 13:03] michaelkuhn commented on #65
I debugged this a bit further.

If I use `pango-view --font='Overpass Bold 10'`, I actually get the bold font. If I select the same in a GNOME application, I get the semibold one. I guess this is due to Cairo doing something differently.

Due to this, I experimented with `fc-match` and came up with the following strange behavior:
[code]

[2018-07-27 20:41] aaronjensen commented on #56
FWIW, disabling "Really use Typo metrics" on the font appears to fix it: https://font-test-czinmcdeht.now.sh/

[2018-08-18 19:04] yesiamben commented on #56
Guys, firstly, great font. Have been working with it on a project over the last few days and run into the same issues. Not such a big deal in the smaller sizes, but becomes a big deal as the font gets larger.

OSX Chrome seems to work fine and place it correctly, OSX Firefox / Windows Edge / Android Chrome seems to sit everything higher. Obviously this makes quite a different to layouts.

Super si

[2018-08-19 18:35] aaronjensen commented on #56
@yesiamben yes, that's what this issue is about. Can you reproduce it with my test site: https://font-test-czinmcdeht.now.sh/

I would be happy to submit a PR to fix it, but this repo lacks build instructions. I don't know if it uses the glyphs app, but I don't have a license for that. If I submit a modification to the glyphs file, could someone else build it?

[2018-08-19 23:03] yesiamben commented on #56
I can't; your test site fixed the problem for me. See this grab from Firefox OSX: https://imgur.com/a/jqW4X3k

Excellent (potential) fixing - if that can eventually make it's way to the Google hosted version, you would be very much the hero :-)

[2018-10-23 13:48] louh commented on #56
I'm looking to switch from Interstate to an open-source alternative as well, and noticed the same line-height rendering issue in Firefox (Mac). Vertical placement is extremely important for our app, so using Overpass is a no-go until after the PR above is merged -- looking forward to seeing progress!

[2018-10-23 13:49] louh opened #67 "Overpass Condensed?"

[2018-11-13 13:37] jipigi commented on #56
We are using Source Sans Pro as a alternative of Overpass for months now, because of this vertical alignement problem. But Source Sans Pro offer very few weight variants so we are really looking to switch to Overpass once this bug is fixed. Hope you guys find some time (ahhh time !) to make this happen!

[2018-11-13 13:48] alexmyczko opened #68 "makefile or short descriptiont how the font is built from source"
would be great!

[2018-11-13 15:46] alexmyczko commented on #60
Did you build the font from source on Debian Sid? I'm trying to make a debian package...

[2018-11-14 00:30] naav commented on #60
I did not. As far as I can tell, the source files are in .glyphs format, which is a proprietary format used by https://glyphsapp.com/, which is neither free software nor available on Linux.

[2018-11-14 05:58] alexmyczko commented on #60
or directly with https://packages.debian.org/sid/fontmake just that it fails for me for the latest font version

[2018-11-16 08:42] alexmyczko commented on #68
I also fail to build the sources of version 2.0 converting them with wine vfb2ufo.exe first...

[2018-11-29 11:15] alexmyczko commented on #67
These guys have a condensed version: https://github.com/sammdot/roadgeek-fonts

[2018-12-01 02:03] louh commented on #67
We've looked at those! Sadly, they didn't update the "Engshrift" weight, which is what we use.

[2018-12-28 17:00] mikccc commented on #60
The issue affects also Overpass Italic variants.

[2019-02-12 03:37] Roadsguy opened #69 "Microsoft Word 2016 (Windows 10) displays SemiBold as SemiBold Italics"
Tested this issue in Notepad and Inkscape as well. Both of these programs allow you to select "Overpass" from the list and then pick from a list of styles. Here, SemiBold and SemiBold Italics both work.

However, in Microsoft Word 2016 on Windows 10 (likely affects other versions of Word and Windows, but currently can't test any others), the basic styles appear as separate fonts. For example, if I

[2019-03-26 19:30] Grsmto commented on #56
I think we need to get the people from Red Hat Brand to look at it. They probably don't check this repo (and don't get notified).

[2019-04-22 08:43] PaulMaly commented on #14
@marxo Is this cyrillic glyphs available somewhere?

[2019-06-19 20:52] gsinovsky commented on #56
@castastrophe please check this issue out, specifically this comment https://github.com/RedHatBrand/Overpass/issues/56#issuecomment-414146475

[2019-06-19 21:10] castastrophe commented on #56
Unfortunately I am purely a dev assist for this repo and have no say in anything font. I'll share this thread with the brand team tomorrow when I'm back in the office and hopefully they can help.

[2019-06-19 21:16] gsinovsky commented on #56
@castastrophe thanks

[2019-06-29 06:54] davelab6 commented on #56
On behalf of Google Fonts, I would be willing to commission a number of small improvements to the family, including addressing this issue.

[2019-07-05 15:36] Anutrix opened #72 "Ascender Typo is too less."
Ascender Typo is too less which cause issues when used on single line things like buttons.
Simple test:
[code]
![Firefox_Screenshot_2019-07-05T15-31-30 006Z](https://user-images.githubusercontent.com/11459028/60732616-248ac480-9f68-11e9-8cd7-ed613800302d.png)
Notice that the space below it is almost double than above.
Having issues in other softwares using Freetype since it respects Typo flag sinc

[2019-07-14 18:57] joemaro opened #73 "When using Unicode Symbols, the line is "out of line""
Screenshot from i3blocks and a GTK3 app (Audacious): https://i.imgur.com/RsSkEC1.png

I think that something's off with Unicode symbols, but i'm not really an expert, just guessing. Other fonts that i use don't have this problem (liberation sans, fira sans, ibm plex, iosevka, open sans ...etc)

I love this font and would really like to use it, but it just has too many issues of this kind. I just s

[2019-07-15 20:37] den32ds commented on #14
@marxo what`s with Cyrillic?

[2019-07-18 12:59] joemaro commented on #72
when i use the font on my desktop on GTK and QT apps, the same happens: lots of space below the font and crammed towards the top.

[2019-08-07 22:43] cssobral2013 commented on #59
Specifically for what I mean by 'tabular figures', it means 0-9 and all currencies.

[2019-09-16 23:32] tue0506 opened #74 "Missing Vietnamese support"
Hello! I have just downloaded your font and I really love it. Sadly, Overpass doesn't support Vietnamese. So if you can, please add Vietnamese support for Overpass. This font will be better and better :)

[2019-09-17 21:04] tom5265 commented on #56
Checking in on this issue, experiencing it with Google fonts

[2019-10-14 01:09] #74 closed

[2019-10-24 05:38] naav commented on #72
Overpass Mono Regular with Debian libfreetype6 2.9.1-4:

![image](https://user-images.githubusercontent.com/121653/67456459-60ef4700-f663-11e9-8df9-971465fb8f4c.png)

Overpass Mono Regular with Debian libfreetype6 2.10.1-2:

![image](https://user-images.githubusercontent.com/121653/67456494-82503300-f663-11e9-9f2f-efd0de3d4497.png)

[2019-11-07 17:28] gsinovsky commented on #56
Hi @castastrophe just want to follow up on this, any news?

[2019-11-13 22:04] RuneKR commented on #56
Any news on IE 11. Both Redhat and Google Font version have issues.

[2019-11-14 13:03] iLaurens commented on #56
That would be great! Looking forward to this.

[2019-11-14 15:28] castastrophe commented on #56
@gsinovsky I reached out to our design team and they are working on a transition plan to hand the repository over to the original font designer.  At the moment, our internal team has moved on to new projects supporting our updated brand so we don't have resources available or a clear way to grant access.  My interaction with the repository has been purely as infrastructure support so there's not a

[2019-11-14 15:57] gsinovsky commented on #56
@castastrophe I see. Thank you for taking the time to explain us the situation. I'll keep an eye for further updates down the road.

[2019-11-15 14:44] gforrest-bw commented on #56
My understanding of the license is that the font could be forked and modified under a different name, as long as it isn't sold and keeps the same license (I'm not a lawyer).

So the only holdup here seems to be that the font was built using non-free software, which I don't personally have an interest in purchasing. But if someone knows how to build it themselves, a new version might be able to be

[2019-11-15 14:59] gforrest-bw commented on #72
Related to #56?

[2019-11-15 19:24] davelab6 commented on #56
The main thing would be to remove the RFN from the license, that's the only action I think red hat needs to take

[2019-11-15 19:27] davelab6 commented on #56
Oh! There is no RFN.

Then, I don't think red hat folks need to do anything per se, just keep accepting pull requests. Perhaps just 1 pr that clears out the master branch and updates the readme to point people to the new upstream.

Alternatively, red hat could transfer this repo from the settings page to Delve, and GitHub would create a lot of automated redirections.

[2019-11-20 21:04] kenmcd commented on #69
The problem is style group is not correct in the SemiBold Italic font.
It has _Overpass SemiBold_ as the style group.
It should be _Overpass Light_ like in the SemiBold Regular font.
Right now Light, Light Italic, and SemiBold are in the _Overpass Light_ style group.
And the SemiBold Italic is in the _Overpass SemiBold_ style group.
This confuses applications which work with style groups such as W

[2019-11-23 12:40] madig commented on #68
The problem is that there are two `description` custom parameters in the "Font" tab. I think in Glyphs, the last one wins, so I suggest you remove the first.

![Bildschirmfoto 2019-11-23 um 12 36 46](https://user-images.githubusercontent.com/380829/69478777-273e6700-0dee-11ea-9a98-c5941a7de88c.png)

[2019-11-23 12:57] madig commented on #60
Problem disappears when hinting the OTFs with https://github.com/adobe-type-tools/psautohint.

[2019-11-23 13:39] madig commented on #55
Autohint the OTFs with https://github.com/adobe-type-tools/psautohint/ and see if that fixes it.

[2019-11-23 13:56] madig commented on #72
This might be text rendering stacks not dealing with typo metrics correctly, now that FreeType choses them if the UseTypoMetrics flag is on. Going from https://github.com/RedHatBrand/Overpass/issues/72#issuecomment-545753204, the typo line heights are likely correct, but Qt/GTK/Cairo do not properly add the line gap. Try increasing the line gap yourself.

[2019-11-23 14:30] Anutrix commented on #72
@madig But the issue is not exactly about line gap, since the only issue is Typo Ascender value. Afaik, all 3 Ascender/Decender shouldn't have too much differences.
I am still learning so I might be wrong, so do correct me if I am.

[2019-11-23 15:36] madig commented on #72
Commonly, typo metrics are going to be tighter than the other metrics and that is on purpose. They are supposed to be used by typography-savvy applications to provide precise control over line height. Typo metrics come with some semantics attached (https://docs.microsoft.com/en-us/typography/opentype/spec/recom#tad) and require special handling by applications. AFAIK, no popular toolkit on Unixoid

[2019-11-26 03:59] #56 closed

[2019-12-04 15:18] gforrest-bw commented on #56
@andyfitz thanks for moving on this and creating a new release!

I noticed that the built webfonts are included in the repo itself. Right now it's not really clear where to get the built font files, and the files in the repo haven't been modified in a year. Is there any intention of rebuilding those webfonts, or can a source be provided where we can pull the updated fonts?

[2019-12-23 17:23] alain-roy-ing commented on #69
I have notice effectively that the _Overpass SemiBold_ and _Overpass SemiBold Italic_ don't have both the same style group.
But _Overpass Semibold Italic_ has the correct style ( "FontFamily": _Overpass SemiBold_) with a Weight of 600.
It is the _Overpass SemiBold_ font that has an incorrect style or fontFamily, it should be "Overpass SemiBold"! It has the correct Weight of 600.
These fonts can be

[2020-01-15 08:53] morrisoz commented on #59
This would be a fantastic addition.

[2020-01-16 19:36] gforrest-bw opened #75 "Please build release 3.0.4"
Commented this on another issue, but I'm not sure it was seen.

I appreciate the work done to fix the line height rendering issues in PR #66. The repo may list v3.0.4 which "officially" releases this fix, but the webfonts have not been built in the last 2 years, so there's still no way for anyone without licensed software to use the font. Google Fonts doesn't seem to have updated either.

Since th

[2020-02-14 10:43] KaelGH opened #76 "Overpass translation in french brings compatibility issues"
In softwares like Photoshop, Affinity suit, Office suit and others, Overpass styles are translated in french like so :
"Overpass Black" in "Overpass Lourd" for example in MacOs
That brings some issues because MacOs and Windows doesn't translate the same way, and when I open the same project in the same software in the two OS, some Overpass styles are not recognize.

For example in Windows "Overpas

[2020-02-21 08:34] kosmosjamaa commented on #75
any update on the build that fixes the line height issue?

[2020-03-03 17:20] iLaurens commented on #75
Thanks for spotting this, I updated to 3.0.4 hoping the line-height issue was fixed. If there are instructions how to build the font from the source folder I'd be happy to assist.

[2020-04-05 01:42] lomeat opened #79 "Add cyrillic support (russian)"
One person has already done it and you just need to add it to the release and update it on Google Fonts.  And it has been used for more than a year in the [Russian](https://ru.svelte.dev/) version of https://svelte.dev/.

GitHub of localization: https://github.com/AlexxNB/svelte3-translation-ru

Example:
![56567185-05ada080-65bd-11e9-8ac6-38863fa82e82](https://user-images.githubusercontent.com/334

[2020-05-01 13:18] Zijian123123 opened #80 "Why there is no response when I click "export" on "Overpass turbo"?"
Hi,
I have tried to select only roads in "overpass turbo" by using a query like this:

<osm-script output="json" timeout="25">

  <union>

    <query type="way">
      <has-kv k="highway"/>
      <bbox-query {{bbox}}/>
    </query>
  </union>

  <print mode="body"/>
  <recurse type="down"/>
  <print mode="skeleton" order="quadtile"/>
</osm-script>

then I see that the data is correctly selected an

[2020-05-01 13:20] #80 closed

[2020-05-05 13:59] castastrophe opened #81 "Need development instructions"
Add development instructions to the README and set up the npm package for better developer experience.

[2020-07-02 13:31] gutdingwillweilehaben commented on #75
Hi, I'm also looking for the latest build of the font. Is there already a new build available?

[2020-07-03 10:40] stephenreid321 commented on #75
I'm also looking for the latest build!

[2020-07-03 13:54] kosmosjamaa commented on #75
@stephenreid321 @gutdingwillweilehaben  here are generated font files from the latest glyps. i dont have push access so i'll just drop a mediafire link https://www.mediafire.com/folder/eymuy8imqcpgx/

[2020-07-03 16:19] stephenreid321 commented on #75
Thanks!

[2020-07-06 14:32] gforrest-bw commented on #75
@kosmosjamaa May I suggest forking the repo and issuing a PR with these files included? MediaFire is not the most convenient method of downloading (they require you to pay to download multiple files at once... in 2020!)

I'll do it once I have them all downloaded if you'd like, just figured as you were the one that finally corrected the situation, you might want to be the one to contribute the fix

[2020-07-28 14:39] DARK-art108 commented on #81
Can I work on this issue?
@castastrophe

[2020-08-21 19:19] cssobral2013 opened #82 "Variable version?"

[2020-09-28 17:36] dar5hak opened #83 "Add Indian Rupee sign to proportional variant"
According to [Google Fonts](https://fonts.google.com/?query=overpass&preview.text=%E2%82%B91000&preview.text_type=custom), the [Indian Rupee sign ₹](https://en.wikipedia.org/wiki/Indian_rupee_sign) is there in Overpass Mono but not in the proportional Overpass.

<img width="749" alt="image" src="https://user-images.githubusercontent.com/8205055/94466465-18c79580-01df-11eb-8041-68429abefe18.png">

[2020-10-26 05:41] DARK-art108 commented on #81
Can I work on this issue?
@castastrophe

[2020-11-10 12:16] teleyinex commented on #75
Any updates on this? Otherwise I'm happy to send the PR myself :-) Just downloaded all the fonts.

[2020-11-10 12:26] teleyinex commented on #75
Quick follow up, as it was easy, I've sent you a PR: https://github.com/RedHatOfficial/Overpass/pull/84

All the acknowledgments should go to @kosmosjamaa!

[2020-11-26 19:58] VictorMeulleStef commented on #56
Hello guys, any news on the font patch?

Cheers!

[2021-02-11 22:59] michaelfaith commented on #75
Will this be merged in soon?  Our corporation was planning to adopt this font as part of its design standard, and this line height issue has become a blocking issue.

[2021-02-15 15:18] highnze opened #85 "Arrow right (2192) / Arrow left (2190)"
When typing "->" or "<-" the symbol is not changing to the glyphs for Arrow right (2192) / Arrow left (2190).

Can anyone help me with this? It happens in Word and Obsidian.

[2021-03-06 00:16] kenmcd commented on #85
There are no ligatures or contextual alternates in these fonts which would do that substitution.
Your only option at this time is to manually enter those code points.

[2021-03-08 13:43] highnze commented on #85
Thanks for the answer. Too bad :(

[2021-07-01 12:53] 70nyIT commented on #75
I highly suggest you guys to re-built it. I have been struggling a lot as I was importing the font from Google Fonts, and having issue with the line-height too. I think that Google Fonts gets the latest build and not the actual files in the repo. You can see it in this codesandbox, where you clearly see text is not centered in the button
https://codesandbox.io/s/unruffled-vaughan-zvwq9

If I clone

[2021-07-01 20:30] michaelfaith commented on #75
@70nyIT there's already an issue in Google Fonts' github to update with the latest build.  They don't automatically injest what was built here.  https://github.com/google/fonts/issues/2665

[2021-07-01 20:34] 70nyIT commented on #75
yes, seen that issue @michaelfaith. What's sure is that downloading the latest build without the latest file in it can be confusing, like have been for me and other users

[2021-07-01 20:41] michaelfaith commented on #75
Oh, do you mean the zip attached to the 3.0.4 tag? That's true. Maybe they should create a new tag?

[2021-07-01 21:34] 70nyIT commented on #75
yes, exactly. If you see the "release" section it bring you to this page
https://github.com/RedHatOfficial/Overpass/releases/tag/3.0.4

I think to avoid confusion a 3.0.5 should be released with the latest build

[2021-07-01 21:43] michaelfaith commented on #75
Agreed, that would be the safest way to avoid confusion.

[2021-07-29 00:10] michaelfaith commented on #75
@70nyIT they made the 3.0.5 release today, if you want to pull it now.

[2021-07-29 00:11] #75 closed

[2021-08-05 16:28] abhishekjha812 commented on #83
I would like to work on this but there are no instructions to  install this project on my local device .

[2021-08-05 16:42] DelveFonts commented on #83
@abhishekjha812 @dar5hak Thank you for bringing this issue up. The Indian Rupee sign will be available in Overpass (proportional) with the next update. I'll close this issue when the update is released.

[2021-08-25 10:58] fitojb commented on #65
I think this should be reported to GNOME

[2021-12-05 23:31] jbowtie opened #88 "Provide a better fraction implementation"
When used in a cookbook, it becomes impractical to turn on the `frac` feature because all whole numbers are treated as numerators.

The OpenType cookbook provides a straightforward contextual version that allows for the most common and obvious usages.

http://opentypecookbook.com/common-techniques/#method-2-contextual

[2021-12-06 18:35] DelveFonts commented on #88
@jbowtie Thank you for opening this issue. I will get this resolved at my earliest opportunity. - Delve

[2021-12-06 20:50] charredUtensil opened #89 "Mono font has ligatures (fi, fl, ff, ffi, ffl) that are only 1 character wide"
This is true at least for the version currently on Google Fonts:

https://fonts.google.com/specimen/Overpass+Mono?query=overpass&preview.text=I%20offer%20fine%20affluent%20foxes%20no%20affixed%20fleas.&preview.text_type=custom

[2022-01-13 09:20] sshmyg opened #90 "Different versions"
[test.zip](https://github.com/RedHatOfficial/Overpass/files/7861511/test.zip)
Good day.
I've added screenshot which illustrate different behaviour of overpass font.
1 line - font from current github repo
2 line - font from google fonts
3 line - font from cdn https://overpass-30e2.kxcdn.com/overpass.css

Looks like cdn version is proper one.

![image](https://user-images.githubusercontent.com/14106

[2022-01-14 08:44] FootLee-CL opened #91 "Typeface baseline too high suddenly in Figma"
Hello.

Thank you so much for creating and maintaining this very usable fonts. However I've encountered some issue a few days ago.

So we're using this typeface for more than a year by now in Figma. However, just a couple of days ago, suddenly this typeface's baseline were slightly higher than usual. It's not very noticeable on the naked eye, but if you stick an object next to them (or if you zoom

[2022-01-14 09:01] ndftz commented on #91
This is quite off, is there a chance that you are using a different version to the figma hosted version?
local install maybe ?

I'm not too sure how figma refers to local fonts vs it's own hosted fonts but i'd like to triage this to figure out the root cause of this behaviour.

[2022-01-14 09:25] FootLee-CL commented on #91
It's not a local install, interestingly... I believe this is a Figma hosted version. The only local install I have is Poppins (even that is also Figma Hosted)

But anyway thanks for the fast respond!

![image](https://user-images.githubusercontent.com/97717609/149491627-3e1bd7dd-7515-4ae7-a9d6-ed1bb62c6e94.png)

[2022-01-14 12:19] ndftz commented on #91
From my (very amateur) research it seems Figma maintain their own host of google fonts and could have updated from a very old version that had different vertical metrics.

[2022-01-14 14:18] FootLee-CL commented on #91
Hmmm, I see... so maybe it's best for my team to contact Figma's internal team, then?

[2022-01-18 02:36] FootLee-CL commented on #91
Heyy @andyfitz

I just got back from the Engineers in my company, they've tried it on a localhost through importing the Overpass via Google Fonts. It would seem that the baseline is still higher than other known typefaces.

![image](https://user-images.githubusercontent.com/97717609/149861022-ab4c845e-afac-401c-98ab-9e4b66cb8187.png) ![image](https://user-images.githubusercontent.com/97717609/1498

[2022-01-19 16:59] arihernandez commented on #91
There is a difference in baseline between Overpass 3.0 and Overpass 4.0. When using the web Figma, VS desktop figma - you get differences as well.

[2022-01-20 03:46] FootLee-CL commented on #91
Thank you @arihernandez

I've been browsing past pull requests on ver 3.0.4 and ver 4.0, using Bold font weights. The baseline looks significantly different from naked eye

![image](https://user-images.githubusercontent.com/97717609/150269687-0a2a8c3f-b5d3-449e-9919-57c6e7d910c2.png)

Want to know again whether this was intentional or not.. Would love to hear back from you guys soon!

[2022-03-27 12:28] tommai4881 opened #92 "Add vietnamese support"

[2022-04-10 14:38] barmadrid commented on #91
I'm also experiencing this, but in Gnome (as system UI font). And using the latest v4.00 font files!

[2022-07-11 08:15] jiridanek commented on #89
From the user's point of view, you can tell your application to not use ligatures, using fontconfig, as described in https://wiki.archlinux.org/title/Font_configuration/Examples#Disable_ligatures_for_monospaced_fonts. That wiki says that Firefox does not respect this setting ;(

On the web, you can direct the browser using CSS, https://developer.mozilla.org/en-US/docs/Web/CSS/font-variant-ligature

[2022-07-25 15:08] Scemist commented on #89
I noticed this, it really happens. For 'fi' and 'fl' mainly, that contains many words like 'file' is really weird.

[2022-07-25 15:31] charredUtensil commented on #89
This is still a bug, even if it can be disabled under certain circumstances. **I cannot think of a single reason anyone would want these ligatures in a monospace font.**

Other monospace "code" fonts that use ligatures tend to [maintain the original width of characters](https://fonts.google.com/specimen/JetBrains+Mono?preview.text=Double%20Width%20%3E%3D%20Ligatures&preview.text_type=custom). JetB

[2022-07-26 10:01] jiridanek commented on #89
The https://github.com/RedHatOfficial/RedHatFont monospace variant does not suffer from this bug

https://fonts.google.com/specimen/Red+Hat+Mono?selection.family=Chathura&sidebar.open=true&preview.text=Neffnukala,%20ffikana&preview.text_type=custom

[2022-09-09 16:36] charredUtensil opened #94 "Mono font has arrow ligatures that are one character wide"
This is similar to https://github.com/RedHatOfficial/Overpass/issues/89, but much worse:

https://fonts.google.com/specimen/Overpass+Mono?query=overpass&preview.text=123-%3E456%3C-789&preview.text_type=custom

The characters `->` and `<-` are being replaced with an arrow, but this arrow character is only a single character wide in the monospace variant. This is very wrong. I use Overpass Mono as a

[2022-09-22 16:28] rben01 opened #95 "Backtick acts as grave accent over following character"
Is it intended/expected behavior that the backtick character (`` ` ``, Html `&#96;`) is a combining grave accent over the subsequent character instead of just a standalone backtick character?

Html:
[code]

Result:
<img width="159" alt="image" src="https://user-images.githubusercontent.com/766670/191801171-4f4e8337-c3e1-417b-a050-a537a5735d02.png">

I would expect Overpass to keep the backtick sep

[2022-10-16 06:25] tommai4881 opened #96 "Add width"
How about adding font widths for Overpass? It will be as from condensed to wide as in original FHWA Highway Gothic.

[2022-10-17 14:51] krokodok commented on #90
Can confirm!

This issue has a little bit of history:
https://github.com/RedHatOfficial/Overpass/pull/66
https://github.com/google/fonts/issues/2665

[2022-10-18 12:10] michaelfaith commented on #90
@DelveFonts after all your hard work, this still seems to have issues.  At least in what's made it onto googlefonts.  Any possibility of helping resolve this?

[2022-11-22 20:06] t-rapp commented on #59
It seems that tabular figures are available in version 4.0 of this font, which is great!